{% extends "template.html" %} {% block content %}
<form
  action="{{ url_for('atualizar') }}"
  method="post"
  enctype="multipart/form-data"
>
  <div class="row justify-content-start">
    <input type="hidden" name="id" value="{{ id }}" />
    {{ form.csrf_token() }}
    <div class="col-2 me-5">
      <figure>
        <img
          src="{{ url_for('imagem', nome_arquivo=capa_jogo) }}"
          class="mt-2 mb-2 img-thumbnail"
          style="height: 200px"
        />
        <figcaption class="figure-caption">
          <label for="arq">
            Mudar Capa
            <input type="file" id="arq" name="arquivo" accept=".jpg" />
          </label>
        </figcaption>
      </figure>
    </div>
    <div class="col-5">
      <fieldset>
        <div class="form-label">
          {{ form.nome.label(class="form-label") }} {{
          form.nome(class="form-control") }}
        </div>
        <div class="form-label">
          {{ form.categoria.label(class="form-label") }} {{
          form.categoria(class="form-control") }}
        </div>
        <div class="form-label">
          {{ form.console.label(class="form-label") }} {{
          form.console(class="form-control") }}
        </div>
        <div class="form-label">
          {{ form.salvar(class='btn btn-primary') }}
          <a class="btn btn-primary" href="{{ url_for('index') }}">Voltar</a>
        </div>
      </fieldset>
    </div>
  </div>
</form>
{% endblock %}
