{% extends "template.html" %} {% block content %}
<form action="{{ url_for('autenticar') }}" method="POST">
  <div class="container">
    <div class="col-5 aligm-self-start mt-3">
      <input
        type="hidden"
        name="proxima"
        value="{{ proxima or url_for('index') }}"
      />
      {{ form.csrf_token() }}
      <p>
        {{ form.username.label(class="form-label") }} {{
        form.username(class="form-control") }}
      </p>
      <p>
        {{ form.senha.label(class="form-label") }} {{
        form.senha(class="form-control") }}
      </p>
      <p>
        {{ form.login(class="btn btn-primary") }}
        <a class="btn btn-primary" href="{{ url_for('index') }}">Voltar</a>
      </p>
    </div>
  </div>
</form>

{% endblock %}
