{% extends "template.html" %} {% block content %}
<form action="{{ url_for('autenticar') }}" method="post">
  <div class="container">
    <input
      type="hidden"
      name="proxima"
      value="{{ proxima or url_for('index') }}"
    />
    <p>
      <label>Nome de Usuário</label>
      <input class="form-control" type="text" name="usuario" required />
    </p>
    <p>
      <label>Senha</label>
      <input class="form-control" type="password" name="senha" required />
    </p>
    <p>
      <button class="btn btn-primary" type="submit">Entrar</button>
    </p>
  </div>
</form>

{% endblock %}
