{% extends "template.html" %} {% block content %}
<form action="{{ url_for('criar') }}" method="post">
  <fieldset>
    <div class="form-label">
      <label for="nome">Nome</label>
      <input type="text" id="nome" name="nome" class="form-control" />
    </div>
    <div class="form-label">
      <label for="categoria">Categoria</label>
      <input type="text" id="categoria" name="categoria" class="form-control" />
    </div>
    <div class="form-label">
      <label for="console">Console</label>
      <input type="text" id="console" name="console" class="form-control" />
    </div>
    <div>
      <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
    </div>
  </fieldset>
</form>
{% endblock %}
